spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/peluqueriadb?connectionTimeZone=UTC&forceConnectionTimeZoneToSession=true
    username: peluqueria
    password: peluqueria123

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: DEBUG

# Solo para desarrollo, desactiva la seguridad temporalmente
spring.security.enabled: false